ion-content {
  background: none !important; 
  --background-size: cover !important;
  --background-position: center !important;
  --background-repeat: no-repeat !important;
  --background: #f3f3f3 !important;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.container{
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10px;
}
.principal{
    display: flex !important;
    position: relative !important;
    justify-content: center !important;
    background-color: var(--ion-color-light-tint) !important;
}
.cssBaixada{
background: rgb(245, 174, 60);
}
.cssAtiva {
background: greenyellow;
}